In [2]:
import os
import pandas as pd
import cv2
import numpy as np

import config

In [3]:
# we will populate this predefined table

df = pd.DataFrame(columns=['fname', 'height', 'width', 'info', 'xmin', 'ymin', 'xmax', 'ymax', 'label'])

In [4]:
# # walking image folder and constructing the df

# image_fnames = []
# image_info = []
# image_height = []
# image_width = []

# for _, _, fnames in os.walk(config.DATA):
#     # print(fnames[:4])
#     for fname in fnames:
#         extension = fname.split(".")[-1].lower()
#         FILE_PATH = os.path.join(config.DATA, fname)
#         # we will need full path + fname later
#         if extension == 'jpg':
#             img = cv2.imread(FILE_PATH)
#             h, w, c = img.shape
#             image_height.append(h)
#             image_width.append(w)
#             image_fnames.append(fname)
#         # extract data from the txt file
#         if extension == "txt":
#             with open(FILE_PATH) as file:
#                 txt = file.readlines()
#                 image_info.append(txt)

In [5]:
# pushing the data collected with os.walk to the df
df['fname'] = [(os.path.join(config.DATA, fname)) for fname in image_fnames]
df['info'] = image_info
df['height'] = image_height
df['width'] = image_width

In [6]:
# # parsing the string data. Making the df pretty

# xmin_list = []
# ymin_list = []
# xmax_list = []
# ymax_list = []
# label_list = []

# for row in df['info']:
#     for txt in row:
#         splitted_text = txt.split(' ')
#         xmin_list.append(int(splitted_text[1]))
#         ymin_list.append(int(splitted_text[2]))
#         xmax_list.append(int(splitted_text[3]))
#         ymax_list.append(int(splitted_text[4]))
#         label_list.append(int(splitted_text[0]))

# df.xmin = xmin_list
# df.ymin = ymin_list
# df.xmax = xmax_list
# df.ymax = ymax_list
# df.label = label_list

# df.label = df.label.map({1:1, 2:0})

In [7]:
df.head()

,fname,height,width,info,xmin,ymin,xmax,ymax,label
0,c:\Users\Oleg\Google Drive\Projects\cv\cat dog...,400,600,[1 333 72 425 158],333,72,425,158,1
1,c:\Users\Oleg\Google Drive\Projects\cv\cat dog...,500,375,[1 72 105 288 291],72,105,288,291,1
2,c:\Users\Oleg\Google Drive\Projects\cv\cat dog...,500,394,[1 151 71 335 267],151,71,335,267,1
3,c:\Users\Oleg\Google Drive\Projects\cv\cat dog...,313,450,[1 54 36 319 235],54,36,319,235,1
4,c:\Users\Oleg\Google Drive\Projects\cv\cat dog...,465,500,[1 23 27 325 320],23,27,325,320,1

In [8]:
df.iloc[0][0]

'c:\\Users\\Oleg\\Google Drive\\Projects\\cv\\cat dogs classifier\\data\\Abyssinian_1.jpg'

In [9]:
# shuffle data
df = df.sample(frac=1).reset_index(drop=True)

In [10]:
# df.to_csv('train_data.csv')

In [16]:
df = pd.read_csv(config.DF_PATH, usecols=['fname',  
                               'xmin_coco', 'ymin_coco', 'xmax_coco', 'ymax_coco',
                               'xmin_alb', 'ymin_alb', 'xmax_alb', 'ymax_alb', 
                               'label'])

In [17]:
df.head()

,fname,xmin_coco,ymin_coco,xmax_coco,ymax_coco,xmin_alb,ymin_alb,xmax_alb,ymax_alb,label
0,C:\Users\Oleg\Google Drive\Projects\cv\cat dog...,333,72,425,158,0.555000,0.180000,0.708333,0.395000,1
1,C:\Users\Oleg\Google Drive\Projects\cv\cat dog...,72,105,288,291,0.192000,0.210000,0.768000,0.582000,1
2,C:\Users\Oleg\Google Drive\Projects\cv\cat dog...,151,71,335,267,0.383249,0.142000,0.850254,0.534000,1
3,C:\Users\Oleg\Google Drive\Projects\cv\cat dog...,54,36,319,235,0.120000,0.115016,0.708889,0.750799,1
4,C:\Users\Oleg\Google Drive\Projects\cv\cat dog...,23,27,325,320,0.046000,0.058065,0.650000,0.688172,1